# https://docs.github.com/cn/actions/reference/workflow-syntax-for-github-actions

name: CI

on:
  push:
    branches:
      - 'main'
      - 'dev'
      - 'feature/*'
  pull_request:
  release:
    types: [published]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.8']

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Setup python"
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Setup poetry"
        uses: Gr1N/setup-poetry@v4

      - name: "poetry cache"
        id: poetry-cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-
      - name: "Install dependencies"
        if: steps.poetry-cache.outputs.cache-hit != 'true'
        run: |
          poetry install

      - name: "Test with pytest"
        run: pytest --cov=src --cov-report=xml tests

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
