# https://docs.github.com/cn/actions/reference/workflow-syntax-for-github-actions

name: CI

on:
  push:
    branches:
      - 'main'
      - 'dev'
      - 'feature/*'
      - 'workflow/*'
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
  release:
    types: [ published ]

jobs:
  test:
    name: ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
        python-version: [ '3.8' ]

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Setup python"
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Get pip cache dir"
        id: pip-cache-dir
        run: |
          pip install -U pip
          echo "::set-output name=dir::$(pip cache dir)"

      - name: "Setup cache"
        id: poetry-cache
        uses: actions/cache@v2
        with:
          path: |
            ${{ steps.pip-cache-dir.outputs.dir }}
            .venv
          key: ${{ runner.os }}-${{ matrix.python-version }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-poetry-

      - name: "Install dependencies"
#        if: steps.poetry-cache.outputs.cache-hit != 'true'
        run: |
          pip install poetry
          poetry config virtualenvs.in-project true
          poetry install

      - name: "Test with pytest"
        run: poetry run pytest

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
